<div class="title-block">
    <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
    </h3>
</div>
<section class="section">
    <div class="row">
        <div class="col-md-6">
            <regorov-add-event></regorov-add-event>
        </div>
        <div class="col-md-6">
            <regorov-add-category (onCategoryAdd)="newCategoryAdded($event)"></regorov-add-category>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <regorov-edit-category></regorov-edit-category>
        </div>
    </div>
</section>